// Fallbacks
.no-js {
	@include mquery($nav-breakpoint) {
		.nav-toggle { display: none }
		.nav-main {
			max-height: $height-navbar * 8;

			> li {
				> a {
				}

				&:hover {
					// ensure dropdowns don't show on stacked navbar
					.dropdown-list { display: none; }
				}

			}
		}
	}

	.figure-float { cursor: default }
	
	.container-photo {
		.figure-float { margin: 0 $gutter}
	}
}

.touch {

	.dropdown {
		&:hover {
			> .dropdown-list {
				max-height: 0; // no dropdown on hover for touch
			}
		}
	}

}
