// Layout - phone
// -----------------------------------
@include mquery($phone-breakpoint) {
	
	.container {
		@include horizontal-padding($spacing);
		float: none;
		//&:first-child { margin-left: auto; }
	}

	.mobile-no-gutter {
		padding-left: 0;
		padding-right: 0;
	}

	// Grid
	@for $i from 1 through $columns {
		.mobile-col-#{$i} { width: (100% * $i / $columns) - (2 * $gutter); }

		@if $i != $columns {
			.mobile-push-#{$i} { left: (100% * $i / $columns) - (2 * $gutter); }
			.mobile-pull-#{$i} { left: (-100% * $i / $columns) - (2 * $gutter); }
		}
	}

	.mobile-no-push, .mobile-no-pull { left: auto; }

	.mobile-full {
		left: auto;
		clear: both;
		float: none;
		width: 100%;
		margin: 0 0 $spacing;
		display: block;
	}

	.mobile-text-left { text-align: left; }
	.mobile-text-right { text-align: right; }
	.mobile-text-center { text-align: center; }

	.mobile-left { float: left; }
	.mobile-right { float: right; }
	.mobile-no-float { float: none; }

	// Remove Margin / Padding
	.mobile-no-margin { margin: 0; }
	.mobile-no-padding { padding: 0; }

	.no-mobile { display: none; }
	.show-mobile { display: block; }

}