{{ define "article" }}
<div>
  <a href="../" class="small strong">&larr; Retour au calendrier</a>
</div>

<div class="well well-primary">
  <h2 id="nouveauté-inscription-aux-compétitions">Nouveauté : inscription aux compétitions</h2>
  <p>Dès la saison 2019-2020, les athlètes doivent débourser les frais des compétitions auxquelles ils participent.</p>
  <p><strong>Le paiement préalable est obligatoire</strong>; sans paiement, aucune inscription ne sera effectuée.</p>
  <h3 id="instructions">Instructions :</h3>
  <ol>
    <li><strong>Lisez l’information</strong> relativement à la compétition à laquelle vous voulez participer.</li>
    <li><strong>Si vous êtes certain de pouvoir participer à la compétition</strong> (et que vous avez l’approbation de l’entraîneur), vous pouvez vous inscrire.</li>
    <li><strong>Payez l’inscription.</strong> Prenez note du <strong># de facture</strong>.</li>
    <li>Lorsque le paiement est effectué, <strong>remplissez les autres champs</strong> en incluant le <strong># de facture</strong> (ex. <code>COCH-1234</code>).</li>
    <li>Le Corsaire-Chaparral fera votre inscription, à condition que le paiement ait été reçu au préalable.</li>
  </ol>
</div>

{{ .Content }}

{{ partial "competition-single.html" . }}
{{ end }}