{{ define "main" }}
<main class="container container-main" role="main">
  {{ partial "header.html" . }}
  <article class="container">
    {{ .Content }}
    
    {{ range .Sections }}
    <h2>{{ .Title }}</h2>
    
    <ul>
      {{ range .Pages.ByWeight }}
      <li>
        <a href="{{ .URL }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
    
    {{ end }}

    <ul>
      {{ range .Pages.ByWeight }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
  </article>
</main>
{{ end }}