{{ define "main" }}

<div class="container container--wider phone-no-padding">

  <div class="row no-padding">
    <div class="col col-2 tablet-col-12">
      <div style="width: 100%;min-height:1px">
        &nbsp;
      </div>
    </div>
    
    <div class="col col-8 tablet-col-12">
      <main class="container container-main" role="main">

        {{ block "header" . }}
        {{- partial "header-page.html" . -}}
        {{ end }}

        <article class="container article-container">

          {{ block "article" . }}
          {{ with .Params.description }}
          <p class="article-lead">
            {{ . | markdownify }}
          </p>
          {{ end }}

          {{ .Content }}
          {{ end }}
        </article>
      </main>
    </div>
  
    
    <div class="col col-2 tablet-col-12"></div>
  </div>
</div>
{{ end }}