// THEME - phone styles
// -----------------------------------

@include mquery($phone-breakpoint) {

  h1, .h1 { font-size: $h1-phone; }
  h2, .h2 { font-size: $h2-phone; }
  h3, .h3 { font-size: $h3-phone; }
  h4, .h4 { font-size: $h4-phone; }
  h5, .h5 { font-size: $h5-phone; }
  h6, .h6 { font-size: $h6-phone; }

  table th,
  table td {
    padding: $spacing-xs;
  }

  .icon-header {
    font-size: 40px;
    top: 16px;
    right: 16px;
  }
}
