// THEME - rows
// -----------------------------------

// Grays
.row-lighter { background-color: $gray-lighter; color: check-background($gray-lighter); }
.row-light { background-color: $gray-light; color: check-background($gray-light); }
.row-gray { background-color: $gray; color: check-background($gray); }
.row-dark { background-color: $gray-dark; color: check-background($gray-dark); }
.row-darker { background-color: $gray-darker; color: check-background($gray-darker); }

// Colors
.row-primary { background-color: $color-primary; color: check-background($color-primary); }
.row-danger { background-color: $color-danger; color: check-background($color-danger); }

.well {
  @include vertical-margin($spacing);
  padding: $spacing;
  background-color: $gray-lighter;
  color: $gray-dark;
  border-radius: 5px;
}

// Showcase
.row-showcase {
  @include vertical-padding($spacing-xl * 2);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: check-background($color-primary);

  > .img-bg-showcase, .bg-overlay-showcase {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
  }

  > .img-bg-showcase {
    width: 100%;
    height: auto;
    z-index: $z-index-page - 2;
  }

  // use css filter instead?
  > .bg-overlay-showcase {
    background: $color-primary;
    @include background-gradient(rgba($color-primary, 0.9), rgba($color-primary, 0.6), 'vertical');
    z-index: $z-index-page - 1;
  }

  > .container {
    position: relative;
    z-index: $z-index-page; // overlay the bg
  }
}

// Home page


#demi-fond {
  background-image: url('#{$assets-url}img/mass_2km_Ste-Therese_2014-16.jpg');
}

#coch-invitation {
  background-image: url('#{$assets-url}img/piste-bleue-bloc.jpg');
  background-size: cover;
  background-position: center bottom;
}

#crepuscule-lancers {
  background-image: url('#{$assets-url}img/javelots.jpg');
  background-size: cover;
  background-position: right center;
}

