// THEME - tablet styles
// -----------------------------------

@include mquery($tablet-breakpoint) {
  .title-header {
    left: 0;
    &:after { display: none }
  }

  .icon-header {
    @include box-shadow(4px 6px 0 rgba(0,0,0,0.1));
    font-size: 120px;
    top: $spacing-xs;
    right: $spacing-xs;
  }

  .container-main {
    margin-top: 0;
    margin-bottom: 0;
  }

  // show toggle button for navbar
  .nav-menu { display: block; }

  .nav-break {
    display: none; // toggle w/ js
  }

  .navbar-side {
    //display: block;
  }
}
