.navbar-side {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: $spacing-sm 0;
  width: 260px;
  height: 100%;
  overflow: auto;
  background-color: $gray-darker;
  color: $gray-lighter;
  z-index: $z-index-overlay;
  font-size: $font-size-sm;

  //&.toggled { display: block; }

  a {
    color: $gray-lighter;
  }

  .toggle-sidebar {
    margin-right: $spacing-xs;
    display: block;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }
}

.title-aside {
  clear: both;
  margin: $spacing-sm;
}

.nav-side {

  > li {
    display: block;
    float: none;


    > a {
      @include transition(background-color .3s);
      padding: $spacing-sm;

      &:hover {
        background-color: $color-primary;
        color: check-background($color-primary);
      }
    }

    &.active {
      > a {
        background-color: lighten($color-navbar, 5%)
      }
    }

    ul {
      li {
        a {
          padding: $spacing-xs;
          padding-left: $spacing;
          font-size: $font-size-sm - 2;
        }
      }
    }
  }
}