// Buttons
// -----------------------------------

// Set Generic <button> and .btn styling.
// use .btn on any element to give it the styling of a button
.btn {
  @include inline-block;
  //border-radius: $border-radius;
  font-size: $font-size;
  border: 0;
  cursor: pointer;
  margin: 3px;
  padding: $spacing-xs $spacing-sm;
  font-family: $font-family;
  
  &:active {
    box-shadow: 0 0 0 0;
    transform: translateY(1px);
  }
}

.btn-default { @include btn-style($gray-lighter) }
.btn-primary { @include btn-style($color-primary) }
.btn-cta { @include btn-style($color-link) }
//.btn-danger { @include btn-style($red) }
//.btn-white { @include btn-style(#fff) }

.btn[disabled],
.btn.disabled {
  color: #999;
  background-color: #f1f1f1;
}
