// Footer
// -----------------------------------

.footer-main {
  margin-top: -$spacing-sm;
  padding-top: $spacing-lg;
  background-color: $gray-darker;
  color: $gray-lighter;
  font-size: $font-size-sm;
}


.list-footer {
  @include list-reset;

  > li {
    &.active {
      > a {  
        color: $gray-light;
      }
    }
    > a {
      margin-top: $spacing-xs;
      display: block;
      color: $gray;
      border-bottom: 0;

      &:hover, &:focus {
        color: $color-link;
      }
    }
  }
}

.list-footer-social {
  > li {
    > a {

    }
  }
}
