// Header
// -----------------------------------

.header-page {
  @include vertical-padding($spacing-xl);
  margin-bottom: $spacing-lg;
  border-bottom: 1px solid $gray-lighter;

  .col {
    margin-left: 0;
  }
}

.title-header {
  box-sizing: border-box;
  @include vertical-padding($spacing-lg);
  background-color: $color-primary;
  color: check-background($color-primary);
  word-wrap: break-word;
  position: relative;
  left: -$header-fold-size;
  box-shadow: 0 5px 6px rgba(0,0,0,0.2);

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: auto;
    bottom: -$header-fold-size;
    left: 0;
    height: 0;
    width: 0;
    border-left: $header-fold-size solid transparent;
    border-top: $header-fold-size solid darken($color-primary, 20%);
  }
}

.title-meta {
  color: $gray
}

.meta-header {
  //position: relative;
  //top: 0;
  //left: -$header-fold-size-sm;
  //padding: $spacing-sm $spacing-lg;
  //background-color: $orange;
  color: $gray;
  font-size: $h6;
  //box-shadow: 0 2px 3px rgba(0,0,0,0.2);

  //&:after {
  //  position: absolute;
  //  content: '';
  //  display: block;
  //  height: 0;
  //  width: 0;
  //  top: auto;
  //  bottom: -$header-fold-size-sm;
  //  left:0;
  //  border-left: $header-fold-size-sm solid transparent;
  //  border-top: $header-fold-size-sm solid darken($orange, 20%);
  //}
}

// Landing page
.header-landing {
  @include vertical-padding(10%);
  position: relative;
  //overflow: hidden;
  background-color: $color-primary;
  //background-image: url('#{$assets-url}img/low-poly.jpg');
  background-image: linear-gradient(-45deg, $color-primary, saturate(adjust-hue($color-primary, 14%), 18%));
  background-repeat: no-repeat;
  background-size: cover;
  //background-attachment: fixed;
  background-position: center center;
  color: check-background($color-primary);

  > .container {
    position: relative;
    z-index: $z-index-page + 1;
  }
}

.icon-header {
  position: absolute;
  font-size: 200px;
  top: $spacing-lg;
  right: $spacing-lg;
  color: $gray-lighter;
}

.icon-landing {
  @include opacity(0.7);
  pointer-events: none;
  position: absolute;
  left: auto;
  top: 120px;
  right: 120px;
  color: darken($color-primary, 10%);
  font-size: 500px;
}