// Icons
// -----------------------------------

@font-face {
	font-family: 'coch-icons';
  src:url('#{$assets-url}fonts/coch-icons/coch-icons.eot?-fmkj5x');
  src:url('#{$assets-url}fonts/coch-icons/coch-icons.eot?#iefix-fmkj5x') format('embedded-opentype'),
      url('#{$assets-url}fonts/coch-icons/coch-icons.ttf?-fmkj5x') format('truetype'),
      url('#{$assets-url}fonts/coch-icons/coch-icons.woff?-fmkj5x') format('woff'),
      url('#{$assets-url}fonts/coch-icons/coch-icons.svg?-fmkj5x#coch-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

// General styles
.icon {
  font-family: 'coch-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  //vertical-align: middle;
  line-height: 1;
  margin: 4px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lg {
  font-size: 200px;
  pointer-events: none;
}

.icon--feedback {
  font-size: $spacing-lg;
  float: left;
  margin-right: $spacing-sm;
  display: none;
}

// Icon items

.icon-phone:before {
	content: "\e608";
}
.icon-cup:before {
	content: "\e604";
}
.icon-error:before {
	content: "\e000";
}
.icon-warning:before {
	content: "\e002";
}
.icon-mail:before {
	content: "\e07c";
}
.icon-stopwatch:before {
	content: "\e1b6";
}
.icon-map:before {
	content: "\e1f3";
}
.icon-map-marker:before {
	content: "\e1f7";
}
.icon-angle-left:before {
	content: "\e207";
}
.icon-angle-right:before {
	content: "\e208";
}
.icon-angle-up:before {
	content: "\e20a";
}
.icon-angle-down:before {
	content: "\e20b";
}
.icon-hamburger:before {
	content: "\e20e";
}
.icon-assignment:before {
	content: "\e272";
}
.icon-assignment_ind:before {
	content: "\e273";
}
.icon-list:before {
	content: "\e2aa";
}
.icon-thumb_up:before {
	content: "\e2ee";
}
.icon-star:before {
	content: "\e60d";
}
.icon-twitter:before {
	content: "\e610";
}
.icon-facebook:before {
	content: "\e611";
}
.icon-partenaire:before {
	content: "\e607";
}
.icon-endurance:before {
	content: "\e605";
}
.icon-logo-coch:before {
	content: "\e606";
}
.icon-highjump:before {
	content: "\e600";
}
.icon-athletics-3:before {
	content: "\e601";
}
.icon-javelin:before {
	content: "\e602";
}
.icon-run:before {
	content: "\e603";
}
.icon-close:before {
	content: "\f00d";
}
.icon-pencil:before {
	content: "\f040";
}
.icon-asterisk:before {
	content: "\f069";
}
.icon-calendar:before {
	content: "\f073";
}
.icon-chain:before {
	content: "\f0c1";
}