// Lists
// -----------------------------------
dl, menu, ol, ul { margin: 0 0 $spacing; }

dd,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0;
}

dt {  }
dd {
  margin-bottom: $spacing;
}

menu, ol, ul { padding: 0 0 0 $spacing-lg; }
//nav ul, nav ol {}

// Remove Styling from List
.list-unstyled {
  @include list-reset;
  li {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.list-inline {
  @extend .list-unstyled;
  @include inline-block;
  li {
    @include inline-block;
  }
}
