// Theme
// -----------------------------------

body, html {
  background-color: $gray-lighter;
  color: $font-color;
  //height: 100%;
}

// Applied on body
.in-modal {
  overflow: hidden;

//  .page-wrap {
//    //@include transform(translateX(-50px));
//    //opacity: 0.9;
//  }
}

//.page-wrap {
//  //@include transition(transform .6s $easeInOutCubic .2s);
//}

::selection {
  background-color: $color-primary;
  color: #fff;
}

::-moz-selection {
  background-color: $color-primary;
  color: #fff;
}

p a { // inline text links
  @extend .font-bold;
  @include transition(border-color .3s);
  padding: 0 2px;
  border-bottom: 1px solid $color-link;

  &:hover, &:focus {
    border-bottom-color: transparent;
  }
}

.link-unstyled {
  font-weight: normal;
  color: $font-color;
  border: 0;
  padding: 0;
}

.container-main {
  @include horizontal-padding(0);
  position: relative;
  margin-top: $spacing;
  padding-bottom: $spacing-xl;
  background-color: #fff;
  @include box-shadow(0 5px 10px rgba(0,0,0,0.1));
  
  &.container-full {
    @include vertical-margin(0);
    @include vertical-padding(0);
  }
  
  img {
	max-width: 100%;
  }
}

.container-landing {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  overflow-x: hidden;
}

.hr-sm {
  max-width: 300px;
  background-color: $gray-light;
}

.badge {
  border-radius: .6em;
  display: inline-block;
  padding: .2em .8em;
  line-height: 1;
  text-transform: uppercase;
}

.badge-primary {
  background-color: $color-primary;
  color: check-background($color-primary);
}

.badge-secondary {
  background-color: $color-secondary;
  color: check-background($color-secondary);
}

.badge-danger {
  background-color: $color-danger;
  color: check-background($color-danger);
}

.text--gray { color: $gray; }
.text--primary { color: $color-primary; }
.text--secondary { color: $color-secondary; }
.text--danger { color: $color-danger; }

@import '_theme/partenaires';
@import '_theme/rows';

// Responsive
@import '_theme/tablet';
@import '_theme/phone';
