// Theme
// -----------------------------------

body, html {
  background-color: $gray-lighter;
  color: $font-color;
  //height: 100%;
}

// Applied on body
.in-modal {
  overflow: hidden;

  .page-wrap {
    //@include transform(translateX(-50px));
    //opacity: 0.9;
  }
}

.page-wrap {
  //@include transition(transform .6s $easeInOutCubic .2s);
}

::selection {
  background-color: $color-link;
  color: #fff;
}

::-moz-selection {
  background-color: $color-link;
  color: #fff;
}

p a { // inline text links
  @extend .font-bold;
  @include transition(border-color .3s);
  padding: 1px 2px;
  border-bottom: 1px solid $color-link;

  &:hover, &:focus {
    border-bottom-color: transparent;
  }
}

.link-unstyled {
  font-weight: normal;
  color: $font-color;

  &:hover {
    background-color: transparent;
    color: $font-color;
  }
}

.container-main {
  @include horizontal-padding(0);
  position: relative;
  margin-top: $spacing;
  padding-bottom: $spacing-xl;
  background-color: #fff;
  @include box-shadow(0 5px 10px rgba(0,0,0,0.1));
}

.container-landing {
  margin-top: 0;
  margin-bottom: 0;
  overflow-x: hidden;
}

.hr-sm {
  max-width: 300px;
  background-color: $gray-light;
}

.badge {
  @include border-radius($spacing-xs);
  display: inline-block;
  padding: 2px $spacing-xs;
  font-size: $font-size-sm;
  text-transform: uppercase;
}

.badge-primary {
  background-color: $color-primary;
  color: check-background($color-primary);
}

.text--primary {
  color: $color-primary;
}
.text--danger {
  color: $color-danger;
}

@import '_theme/partenaires';
@import '_theme/rows';

// Responsive
@import '_theme/tablet';
@import '_theme/phone';
