// THEME - tablet styles
// -----------------------------------

@include mquery($tablet-breakpoint) {

  .title-header {
    //box-shadow: none;
//    left: 0;
//    &:after { display: none }
    padding-left: 2.5em; // preserve padding on the left
  }

  .meta-header {
    //box-shadow: none;
    //left: 0;
    //&:after { display: none }
  }

  .icon-header {
    font-size: 200px;
    top: 16px;
    right: 16px;
  }

  .container-main {
    width: auto;
    @include horizontal-margin($spacing-xs);
    margin-top: 3%;
//    margin-top: 0;
//    margin-bottom: 0;
  }
  
  .container-landing {
    margin: 0 auto;
    width: 100%;
  }

  // show toggle button for navbar
  .nav-responsive { display: flex; }

  .nav-break {
    display: none; // toggle w/ js
  }

  .slider-btn-controls {

    .icon {
      width: $btn-slider-size-responsive;
      font-size: floor($btn-slider-size-responsive * 0.8);
    }
  }
  .slider-btn-controls-left {
    left: 0;
  }
  .slider-btn-controls-right {
    right: 0;
  }
  
  .row-40e {
    background-size: auto 45%;
    background-position: 90% 10%;
  }
  
}
