---
title: Le Corsaire-Chaparal fête ses 40 ans !
---


<main class="container container-main container-full">

  <section class="row-space-fluid row-primary row-40e">
    <div class="container">
      <div class="row">
        <div class="col col-9 tablet-col-12">
          <h1>{{ page.title }}</h1>

          <p class="lead">Après autant d'années passées à se dépasser, c'est le moment venu de célébrer&nbsp;! Anciens et nouveaux, venez prendre part à cette belle soirée en l'honneur de tous ceux qui ont participé à bâtir ce grand club&nbsp;!</p>
        </div>
      </div>
    </div>
  </section>

  <section class="row-space-fluid">

    <div class="container">
      <h2 class="text-center">Informations</h2>

      <div class="row">
        <div class="col col-4 tablet-col-12 text-center">
          <h3>C'est où&nbsp;?</h3>

          <p>Au Centre culturel et communautaire Thérèse-de-Blainville, à l'adresse du <br/>
            <span class="strong">120 Boulevard du Séminaire, Sainte-Thérèse.</span></p>
        </div>
        <div class="col col-4 tablet-col-12 text-center">
          <h3>C'est quand&nbsp;?</h3>

          <p>L'événement se tiendra le <strong>samedi 1<sup>er</sup> octobre 2016, à 18&nbsp;h</strong>. Un buffet sera servi à 19&nbsp;h&nbsp;30.</p>
        </div>
        <div class="col col-4 tablet-col-12 text-center">
          <h3>C'est combien&nbsp;?</h3>

          <p>L'entrée est de <strong>40&nbsp;$</strong> (<strong>20&nbsp;$</strong> pour les athlètes inscrits). Veuillez vous procurer vos billets en ligne via <a href="https://www.eventbrite.ca/e/billets-le-corsaire-chaparal-fete-ses-40-ans-27436635716" target="_blank">Eventbrite</a>.</p>
        </div>
      </div>

      <p>Pour plus d'informations, ou pour réserver vos billets, envoyez un courriel à <a href="mailto:athletisme.corsairechaparal@gmail.com">athletisme.corsairechaparal@gmail.com</a></p>
    </div>

  </section>

  <section class="row row-space-fluid row-lighter">

    <div class="container">

      <h3 class="text-center">Se procurer des billets</h3>
      
      <div class="row">
        <div class="col col-6 tablet-col-12">

          <p>Vous pouvez vous procurer vos billets en ligne via le service <a href="https://www.eventbrite.ca/e/billets-le-corsaire-chaparal-fete-ses-40-ans-27436635716" target="_blank">Eventbrite</a>. Confirmez votre présence le plus tôt possible afin que nous puissions mieux vous accueillir, c'est un rendez-vous&nbsp;!</p>

          <p><a href="https://www.eventbrite.ca/e/billets-le-corsaire-chaparal-fete-ses-40-ans-27436635716" target="_blank" class="btn btn-secondary">Acheter <span class="icon icon-angle-right"></span></a></p>
        </div>

        <div class="col col-6 tablet-col-12">
          <p>Si vous préférez payer vos billets à la porte, veuillez tout de même réserver vos billets en envoyant un courriel à <a href="mailto:athletisme.corsairechaparal@gmail.com">athletisme.corsairechaparal@gmail.com</a>. Des billets seront tout de même en vente sur place le soir de l'événement.</p>
        </div>

      </div>
    </div>
  </section>

</main>