{{ define "main" }}
<main class="container-main container-landing">

  <header class="header-landing row-primary" style="background-image:url({{ .Params.backgroundImg }})">
    <div class="swipe landing-slider" id="landing-slider">
      <div class="swipe-wrap">
<!--
        <section>
          <div class="container">
            <div class="row text-center">
              <h1>{{ .Site.Title }}</h1>

              <p class="lead">{{ .Site.Params.description }}</p>
                <a href="/club/histoire-mission/" class="btn btn-default">En savoir plus <span class="icon icon-angle-right"></span></a>
              <a href="/club/inscription/" class="btn btn-secondary">Inscription <span class="icon icon-pencil"></span></a>
            </div>
          </div>
        </section>
-->
        
        {{ range .Params.slides }}

        <section class="text-center">
          <div class="container">
            <div class="row">
              <div class="col col-10 push-1 tablet-col-12 tablet-no-push">
                <h1>{{ .heading }}</h1>

                <p>{{ .body | markdownify }}</p>

                <div>
                  {{ range .buttons }}
                  <a href="{{ .url }}" class="btn {{ .class }}"
                     {{ if .external }} target="_blank"{{ end }}>
                    {{- with .pre }} {{ . | safeHTML }}{{ end }}
                    {{ .title }}
                    {{- with .post }} {{ . | safeHTML }}{{ end }}
                  </a>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        </section>
        
        {{ end }}
      </div>

      <a href="#" class="slider-btn-controls slider-btn-controls-left" id="landing-slider-btn-controls-left"><span class="icon icon-angle-left"></span></a>
      <a href="#" class="slider-btn-controls slider-btn-controls-right" id="landing-slider-btn-controls-right"><span class="icon icon-angle-right"></span></a>
      <ul class="slider-bullets" id="landing-slider-bullets"></ul>

    </div>
  </header>
  
  <div class="container container-full">

    <h2>Quoi de neuf</h2>

    <div class="row">
      <aside class="col col-4 tablet-col-12 right">
        <!-- Page markdown content is rendered here -->
        {{ .Content }}
      </aside>

      <article class="col col-8 tablet-col-12">
        <section>

          {{ with .Site.GetPage "section" "nouvelles" }}

          <!-- Other articles -->
          {{ range first 3 .Pages }}
          {{ partial "nouvelle-apercu.html" . }}
          {{ end }}
          {{ end }}

          <div class="row row-sm">
            <a href="/nouvelles/" class="btn btn-secondary -sm">
              Toutes les nouvelles
              <span class="icon icon-hamburger"></span>
            </a>
          </div>
        </section>

        {{ if isset .Params "announcement" }}
          <div class="alert -primary phone-text-center">
              <span class="h1 alert__heading">{{ .Params.announcement.title }} <span class="icon icon-pencil"></span></span>
              <p>
                {{ .body | markdownify }}
              </p>
            </div>
        {{ end }}

      </article>
    </div>
  </div>
  
  <section class="row-lg" id="photos">
    <div class="container container-full">
      <h2>Dernières photos</h2>
      <div class="row">
        {{ range first 3 .Params.featuredPhotos }}
        <div class="col col-4 tablet-col-12">
          <a href="{{ .url}}">
            <figure class="featured-photo-figure"
                    style="background-image: url({{ .img }})">
              <img src="{{ .img }}" alt="{{ .title }}" />
              <figcaption class="featured-photo-figure__caption">
                <h3>{{ .title }}</h3>
              </figcaption>
            </figure>
          </a>
        </div>
        {{ end }}
      </div>
      
      <a href="{{ .Params.featuredPhotosUrl }}" class="btn btn-primary">Voir plus de photos <span class="icon icon-angle-right"></span></a>
    </div>
  </section>
  
  <section id="partenaires" class="row">
    <div class="container">
      <h2>Partenaires de championnat 2019</h2>
      {{ range .Site.Data.partenaires_champ_2019 }}
      {{ partial "partenaire.html" . }}
      {{ end }}
    </div>
  </section>
  
  <section class="row-lg" id="infolettre">
    <div class="container container-full">
      <div class="row">
        <div class="col col-6 tablet-col-4 phone-col-12 text-center">
          <img class="img-responsive"
           src="/img/new-message.png"
           alt="Courrier" />
        </div>
        <div class="col col-6 tablet-col-8 phone-col-12">
          <div class="container no-margin">
            <h2>Infolettre <span class="icon icon-mail"></span></h2>

            <p>Parents et athlètes, ajoutez votre adresse courriel pour recevoir toutes les informations. Si vous vous êtes inscrit(e) au club pour la saison 2018–2019, vous avez déjà été ajouté(e) à l’infolettre!</p>


            <div id="mauticform_wrapper_infolettreajout" class="mauticform_wrapper">
              <form autocomplete="false" role="form" method="post" action="https://campagnes.corsaire-chaparral.org/form/submit?formId=25" id="mauticform_infolettreajout"  data-mautic-form="infolettreajout" enctype="multipart/form-data">
                <div class="mauticform-error" id="mauticform_infolettreajout_error"></div>
                <div class="mauticform-message" id="mauticform_infolettreajout_message">
                </div>
                <div class="mauticform-innerform">

                  <div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">

                    <div id="mauticform_infolettreajout_prenom"  class="mauticform-row mauticform-text mauticform-field-1">
      <!--                <label id="mauticform_label_infolettreajout_prenom" for="mauticform_input_infolettreajout_prenom" class="mauticform-label">Prénom</label>-->
                      <input id="mauticform_input_infolettreajout_prenom" name="mauticform[prenom]" value="" placeholder="Prénom" class="mauticform-input" type="text" />
                      <span class="mauticform-errormsg" style="display: none;"></span>
                    </div>

                    <div id="mauticform_infolettreajout_nom_de_famille"  class="mauticform-row mauticform-text mauticform-field-2">
      <!--                <label id="mauticform_label_infolettreajout_nom_de_famille" for="mauticform_input_infolettreajout_nom_de_famille" class="mauticform-label">Nom de famille</label>-->
                      <input id="mauticform_input_infolettreajout_nom_de_famille" name="mauticform[nom_de_famille]" value="" placeholder="Nom de famille" class="mauticform-input" type="text" />
                      <span class="mauticform-errormsg" style="display: none;"></span>
                    </div>

                    <div id="mauticform_infolettreajout_courriel"  data-validate="courriel" data-validation-type="email" class="mauticform-row mauticform-email mauticform-field-3 mauticform-required">
      <!--                <label id="mauticform_label_infolettreajout_courriel" for="mauticform_input_infolettreajout_courriel" class="mauticform-label">Courriel</label>-->
                      <input id="mauticform_input_infolettreajout_courriel" name="mauticform[courriel]" value="" placeholder="info@example.com" class="mauticform-input" type="email" />
                      <span class="mauticform-errormsg" style="display: none;">Veuillez entrer votre adresse courriel.</span>
                    </div>

                    <div id="mauticform_infolettreajout_email2" style="display:none" class="mauticform-row mauticform-email mauticform-field-4">
      <!--                <label id="mauticform_label_infolettreajout_email2" for="mauticform_input_infolettreajout_email2" class="mauticform-label">Email2</label>-->
                      <input id="mauticform_input_infolettreajout_email2" name="mauticform[email2]" value="" class="mauticform-input" type="email" />
                      <span class="mauticform-errormsg" style="display: none;"></span>
                    </div>

                  <div id="mauticform_infolettreajout_je_minscris"  class="mauticform-row mauticform-button-wrapper mauticform-field-5">
                    <button type="submit" name="mauticform[je_minscris]" id="mauticform_input_infolettreajout_je_minscris" name="mauticform[je_minscris]" value="" class="mauticform-button btn btn-primary" value="1">Je m’inscris!</button>
                  </div>
                  </div>
                </div>

                <input type="hidden" name="mauticform[formId]" id="mauticform_infolettreajout_id" value="25"/>
                <input type="hidden" name="mauticform[return]" id="mauticform_infolettreajout_return" value=""/>
                <input type="hidden" name="mauticform[formName]" id="mauticform_infolettreajout_name" value="infolettreajout"/>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{{ partial "mautic-script.html" . }}
{{ end }}