{{ define "main" }}
<main class="container-main container-landing">

  <header class="header-landing row-primary" style="background-image:url({{ .Params.backgroundImg }})">
    <div class="swipe landing-slider" id="landing-slider">
      <div class="swipe-wrap">
        <section>
          <div class="container">
            <div class="row text-center">
              <h1>{{ .Site.Title }}</h1>

              <p class="lead">{{ .Site.Params.description }}</p>
                <a href="/club/histoire-mission/" class="btn btn-default">En savoir plus <span class="icon icon-angle-right"></span></a>
              <a href="/club/entrainements/" class="btn btn-secondary">Entraînements <span class="icon icon-stopwatch"></span></a>
            </div>
          </div>
        </section>
        
        {{ range .Params.slides }}

        <section class="text-center">
          <div class="container">
            <div class="row">
              <div class="col col-10 push-1 tablet-col-12 tablet-no-push">
                <h1>{{ .heading }}</h1>

                <p>{{ .body | markdownify }}</p>

                <div>
                  {{ range .buttons }}
                  <a href="{{ .url }}" class="btn {{ .class }}"
                     {{ if .external }} target="_blank"{{ end }}>
                    {{- with .pre -}}{{ . | safeHTML }}{{ end }}
                    {{ .title }}
                    {{- with .post -}}{{ . | safeHTML }}{{ end }}
                  </a>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        </section>
        
        {{ end }}
      </div>

      <a href="#" class="slider-btn-controls slider-btn-controls-left" id="landing-slider-btn-controls-left"><span class="icon icon-angle-left"></span></a>
      <a href="#" class="slider-btn-controls slider-btn-controls-right" id="landing-slider-btn-controls-right"><span class="icon icon-angle-right"></span></a>
      <ul class="slider-bullets" id="landing-slider-bullets"></ul>

    </div>
  </header>
  
  <article class="row-lg">
    <div class="container container-full">
      {{ with .Params.announcement }}
      <div class="alert -primary phone-text-center">
        <div class="row">
          <div class="col col-1 tablet-col-2 phone-col-12">
            <span class="icon {{ .icon }} icon--alert"></span>
          </div>
          <div class="col col-10 tablet-col-10 phone-col-12">
            <span class="h1 alert__heading">{{ .title }}</span>
            <p>
              {{ .body | markdownify }}
            </p>
          </div>
        </div>
      </div>
      {{ end }}
      <div class="row">
        <article class="col col-8 tablet-col-12">
            {{ .Content }}
        </article>
        <aside class="col col-4 tablet-col-12 home-sidebar-container">
          <section>
            <h3>Dernières nouvelles</h3>

            {{ with .Site.GetPage "section" "nouvelles" }}
            {{ range first 4 .Pages }}
            {{ partial "nouvelle-apercu.html" . }}
            {{ end }}
            {{ end }}
          </section>

          <section>
            <h3>Prochaines compétitions</h3>
            
            {{ with .Site.GetPage "section" "competitions" }}
            <div>
              <ol class="list-unstyled">
                {{ range first 3 (where .Pages.ByDate "Date" ">" now) }}
                <li class="mar-b">
                  <div class="row">
                    <small class="title-meta"><i class="icon icon-calendar"></i> {{ partial "date.html" .Date }}</small>
                    <h4 class="no-margin">
                      <a href="{{ .URL }}">
                        {{ .Title }}
                      </a>
                    </h4>
                  </div>
                </li>
                {{ end }}
              </ol>
            </div>
            {{ end }}
          </section>
        </aside>
      </div>
    </div>
  </article>
</main>
{{ end }}