.alert {
  padding: $spacing;
  border-radius: $border-radius;
  border-width: 2px;
  border-style: dashed;
  font-size: $font-size * 1.42;

  &.-primary {
    //background-color: lighten($color-primary, 35%);
    color: $font-color;
    border-color: $color-primary;
  }
}

.alert__heading {
  margin-top: 0;
}

.icon--alert {
  font-size: 55px;
}