// Aside
// -----------------------------------

.navbar-side {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: $height-navbar 0 0;
  width: 100%;
  overflow: auto;
  background-color: $gray-darker;
  color: $gray-lighter;
  z-index: $z-index-menu;
  font-size: $font-size-sm;
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.4);
//  transition: transform .6s cubic-bezier(0.55, 0.055, 0.675, 0.19); // easeInCubic
  
  @include mquery($tablet-breakpoint) {
//    width: 480px;
//    transform: translateY(100vh);
//    visibility: hidden;
    &.toggled {
      display: block;
//      transition: transform .4s cubic-bezier(0.165, 0.84, 0.44, 1), //easeOutQuart
//        .4s visibility 0s;
    }
  }

  a {
    color: $gray-lighter;
  }

  .toggle-sidebar {
    margin-right: $spacing-xs;
    display: block;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }
}

.title-aside {
  clear: both;
  margin: $spacing-sm;
}

.nav-side {
  display: flex;
  flex-wrap: wrap;
  
  > li {
    float: none;
    flex-basis: 100%;
    flex-grow: 0;
    text-align: left;
    font-size: $font-size * 1.5;

    > a {
      @include transition(background-color .3s);
      padding: $spacing;
      display: flex;
      flex-direction: column;
      justify-content: center;

//      &:hover {
//        background-color: $color-primary;
//        color: check-background($color-primary);
//      }
    }

    &.active {
      > a {
        background-color: lighten($color-navbar, 5%)
      }
    }

    ul {
      li {
        a {
          padding: $spacing;
          padding-left: $spacing-lg;
          font-size: $font-size-sm;
        }
      }
    }
  }
}