// Code
// ------------------------------------

kbd, pre, samp {
  padding: $spacing-sm;
  font-family: $font-family-monospace;
  line-height: normal;
  font-weight: normal;
  background-color: $gray-lighter;
  color: $gray-dark;
  word-wrap: break-word;
  font-size: 0.87em;
}

pre {
  overflow: auto;
  line-height: 2;
  width: 100%;
//  white-space: nowrap;
}