// Layout
// -----------------------------------

.container {
  @include horizontal-padding($spacing-xl);
  max-width: $desktop-container;
  margin-left: auto;
  margin-right: auto;
}

.container-full { max-width: none !important; }

.container.sidebar-container {
  @include horizontal-padding($spacing);
}

// Grid

// Columns
.col {
  float: left;
  margin-left: $gutter;
  margin-right: $gutter;
    
  &.right { float: right }
}

[class*="pull-"], [class*="push-"] { position: relative; }

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

@for $i from 1 through $columns {
  .col-#{$i} { width: (100% * $i / $columns) - (2 * $gutter); }

  @if $i != $columns {
    .push-#{$i} { left: (100% * $i / $columns) - (2 * $gutter); }
    .pull-#{$i} { left: (-100% * $i / $columns) - (2 * $gutter); }
  }
}

// Rows
.row {
  @include clearfix;
  @include vertical-padding($spacing);
  @include horizontal-margin(-$gutter)
}

.clearfix {
  @include clearfix;
}

.row-0 { @include vertical-padding(0); }
.row-sm { @include vertical-padding($spacing-sm); }
.row-lg { @include vertical-padding($spacing-xl); }
.row-xl { @include vertical-padding(2 * $spacing-xl); }
.row-space-fluid { @include vertical-padding(12%); } // increase the spacing at smaller sizes

.hide-desktop { display: none; }

// Remove Margin / Padding
.no-margin { margin: 0; }
.no-padding { padding: 0; }

.row-feature {
	@include vertical-padding($spacing);
	border-bottom: 1px solid $gray-lighter;
}

@import
  "layout-lg",
  "layout-tablet",
  "layout-phone"
  ;
