// Lightbox
// -----------------------------------

.body-lightbox {
  overflow: hidden;
}

.layer-lightbox {
  //@include square(100%);
  @include transition(opacity .6s);
  height: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-modal;
  overflow: hidden;
  opacity: 0; // animated

  &.open { height: 100%; opacity: 1; }

  > figcaption {
    color: $gray-darker;
  }
  // on open, add styles to lightbox elements

  &.open {

    img.ready {
      @include transition(opacity 1s ease .6s);
      opacity: 1;

      & ~ .loader {
        display: none;
      }
    }
  }

}

.dim-lightbox {
  @include square(100%);
  @include opacity(0.9);
  position: absolute;
  top: 0;
  left: 0;
  background-color: $gray-darker;
  z-index: $z-index-modal;
}

.figure-lightbox {
  position: relative;
  height: 100%;
  z-index: $z-index-modal + 1;

  .lightbox-display {
    position: absolute;
    top: 0;
    left: 0;
    right: $caption-lightbox-width; // spacing for the caption
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  img {
    position: relative;
    display: block;
    margin: 0 auto; //vertical centering done w/ js
    //margin-top: 8%;
    z-index: $z-index-modal + 1;
    max-height: 90%;
    max-width: 98%;
    opacity: 0;
    border: 2px solid #fff; // is this neessary?
  }

  > figcaption {
    position: absolute;
    right: 0px; // stick to the right
    bottom: 0px;
    top: 0px;
    width: $caption-lightbox-width;
    padding: $spacing-sm;
    background-color: #fff;
    overflow-y: auto;
  }
}

.close-lightbox {
  position: absolute;
  display: block;
  //@include square(40px);
  left: auto;
  top: 0;
  right: 0;
  padding: $spacing-xs;
  font-size: 33px;
  color: #fff;
  cursor: pointer;
  z-index: $z-index-modal + 5;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

@media screen and (orientation: portrait) {
  .figure-lightbox {

    .lightbox-display {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: $caption-lightbox-height;
    }

    img {
    }

    > figcaption {
      left: 0; // now full width
      right: 0px;
      top: auto; // remove top value and only specify bottom value
      bottom: 0;
      height: $caption-lightbox-height;
      width: auto;
    }
  }
}

.loader {
  @include square($size-loader);
  @include border-radius($size-loader / 2);
  @include animation(spin 1s infinite linear);
  position: absolute;
  top: 49%; // don't use margin, center approx
  left: 49%; // don't use margin, center approx
  //margin-top: -$size-loader / -2;
  //margin-left: -$size-loader / -2;
  border: round($size-loader / 8) solid #fff;
  border-top: round($size-loader / 8) solid transparent;
  z-index: $z-index-modal;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
