// Slider
// -----------------------------------

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > * {
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slider-bullets {
  @include list-reset;
  text-align: center;
  @include vertical-padding($spacing);
  
  > li {
    @include inline-block;
    @include horizontal-margin(.5em);
    
    > a {
      @include square(.9em);
      border-radius: .5em;
      display: block;
      cursor: pointer;
    }
  }
}

.slider-btn-controls {
  //transition: all .3s;
  text-align: center;
  position: absolute;
  top: 40%;
  z-index: $z-index-overlay;
  cursor: pointer;
  opacity: 0.6;
  color: inherit;
  
  &:hover {
    opacity: 1;
  }

  .icon {
    @include square($btn-slider-size);
    @include inline-block;
    font-size: floor($btn-slider-size * 0.8);
    line-height: $btn-slider-size;
  }
}

.slider-btn-controls-left {
  left: $spacing;
}

.slider-btn-controls-right {
  right: $spacing;
}

.landing-slider {
  
  // make landing carousel items vertically centered
  .swipe-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .slider-bullets {
    > li {
      
      > a {
        transition: all 0.2s;
        background-color: #fff;
        background-image: linear-gradient(-45deg, $gray-light, #fff);
        opacity: 0.7;
        box-shadow: 0 2px 3px rgba(0,0,0,0.6);
        
        &:hover, &:focus {
          opacity: 1;
          box-shadow: 0 2px 6px rgba(0,0,0,0.6);
        }
        
        &:active {
          box-shadow: inset 0 1px 4px rgba(0,0,0,0.6);
        }
        
        &.active {
          background-color: $color-link;
          background-image: linear-gradient(-45deg, $gray-lighter, lighten($gray-lighter, 12%));
          opacity: 1;
        }
      }
    }
  }
}

