// Tables
// -----------------------------------

table {
  width: 100%;
  margin: $spacing 0;
//  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border-right: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
  word-wrap: break-word; // CSS3 Browsers
  -ms-word-wrap: break-word; // IE8
  *white-space: normal;  // IE7
}
table th,
table td {
  padding: $spacing-sm;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid $gray-lighter;
  border-left: 1px solid $gray-lighter;
}
table thead th,
table tfoot th {
  vertical-align: bottom;
  @extend .font-bold;
  background-color: $gray-darker;
  color: $gray-lighter;
}
table caption {
  padding: $spacing-sm;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  border-bottom: 0;
}

table tbody tr:hover {
  background-color: $gray-lighter;
}