// Global Variables
// -----------------------------------

// Directory
$assets-url: "/"; // add site baseurl if needed

// Colours
$orange:				  #ff6a13;
$blue:                    #305AFF;
$green:                   #00E26D;
$red:					  #f21a29; // Warning color

// Grays
$gray-darker:             #222721;
$gray-dark:			      #525354;
$gray:				      #5C5E5E;
$gray-light:		      #B2B4B8;
$gray-lighter:		      #EDEDED;

// Theming
$color-primary:           $orange;
$color-secondary:         $gray-dark;
$color-danger:            $red;
$color-link:              $color-primary;

// Fonts
$font-family:             'Averta', 'Gotham', 'Avenir', 'Segoe UI', sans-serif;
$font-family-h:           $font-family;
$font-family-monospace:   'Consolas', 'Menlo', 'Courier', monospace;
$font-size:               16px;
$font-size-sm:            0.75em;
$line-height:             1.5;

$h1:                      $font-size * 2.45;
$h2:                      $font-size * 1.8;
$h3:                      $font-size * 1.6;
$h4:                      $font-size * 1.45;
$h5:                      $font-size * 1.3;
$h6:                      $font-size * 1.1;

$h1-phone: 			      $font-size * 1.8;
$h2-phone: 			      $font-size * 1.6;
$h3-phone: 			      $font-size * 1.4;
$h4-phone: 			      $font-size * 1.3;
$h5-phone: 			      $font-size * 1.2;
$h6-phone: 			      $font-size * 1.1;

$font-color:		      $gray-darker;

// Animations
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);

// Layout

// Resonsive Design Break Points
$phone-breakpoint:	      600px;
$tablet-breakpoint:	      768px;
$lg-breakpoint:		      1400px;

// Container
$desktop-container:       $tablet-breakpoint * .96;

// Grid
$columns:			      12;
$gutter:			      1.5%;

$spacing-xs:		      0.5em;
$spacing-sm:		      0.8em;
$spacing:			      1em;
$spacing-lg:		      2.5em;
$spacing-xl:		      4em;

$border-radius:           0.33em;

// Navbar
$font-size-navbar:        0.8em;
$spacing-navbar:          1.2em;
$height-navbar:           $font-size-navbar * $line-height + 2 * $spacing-navbar;
$color-navbar:            $gray-darker;

// Header
$header-fold-size:        20px;
$header-fold-size-sm:     12px;

// Lightbox
$caption-lightbox-width:  300px;
$caption-lightbox-height: 180px; // on tablet (portrait)

$size-loader:             50px;

// Slider
$btn-slider-size:         60px;
$btn-slider-size-responsive: 30px;

// z-index
$z-index-page:            5;
$z-index-overlay:         10;
$z-index-modal:           20;
