---
title: Corsaire-Chaparal Invitation 2016
layout: none
---
<!doctype html>
<html>
  {{>head}}
  <body>
    <div class="container">
      {{#markdown}}


```

# {{ page.title }}

Les résultats seront disponibles sous peu.

```

Retour sur [corsaire-chaparal.org]({{link '/accueil/'}})
    
      {{/markdown}}
    </div>
  </body>
</html>
