---
title: Corsaire-Chaparal Invitation 2017
layout: none
#published: false
---

<!doctype html>
<html class="fullpage-iframe">
  {{>head}}
  <body>
    
    <div class="fullpage-overlay">
      <a href="{{link '/accueil/'}}">Retour à l'accueil</a>
      <img src="{{link '/assets/img/coch-logo.png' }}"/>
    </div>
          
    <iframe src="http://corsaire-chaparal.org/resultats/direct/index.htm"></iframe>
        
  </body>

</html>