---
title: Entraînements
meta_title: Informations du club école
category: Club
icon: stopwatch
---

### <span class="icon icon-map"></span> Lieu d'entraînement

Bloc sportif de la polyvalente Sainte-Thérèse

> 401, boul. du Domaine, Sainte-Thérèse


### <span class="icon icon-stopwatch"></span> Horaire d'entraînement

Selon les catégories (voir ci-bas).  
*Pour connaître l'horaire du club-élite, contactez-nous au (514) 824-0327.*

Il y aura un premier entraînement pour tous lors de la porte ouverte du samedi 12 septembre 2015 à 10h.

#### Colibri (né en 2007 et 2008)

- Samedi 9h30 à 11h

> <span class="badge badge-primary">Nouveau!</span> Session de 10 semaines consécutives, à compter du 17 octobre 201 2015. L'inscription se fait sur place lors du 1<sup>er</sup> entraînement (veuillez apporter vos documents d'inscription avec votre chèque).

#### Minime (né en 2005 et 2006)

- Samedi 9h30 à 11h, **à compter du 26 septembre 2015**

#### Benjamin (né en 2003 et 2004)

- lundi 18h à 19h30
- Samedi 9h30 à 11h00

#### Cadet (né en 2001 et 2002), Juvénile (né en 1999 et 2000), Junior (né en 1997 et 1998) et Senior (né entre 1980 et 1996)

- Lundi 18h à 19h30
- Mercredi 18h à 19h30 ** jusqu'au 28 octobre 2015**
- Jeudi 18h à 19h30 **à compter du 2 novembre 2015**
- Samedi 10h30 à 12h


#### Vétéran (né en 1979 et avant)

Horaire à confirmer lors de l'inscription
