---
title: Entraînements
meta_title: 2016-2017
categories: Club
icon: stopwatch
---

## <span class="icon icon-map"></span> Lieux d'entraînement

Les entraînements ont lieu au **Stade Richard-Garneau**, ainsi qu'au bloc sportif de la **Polyvalente Sainte-Thérèse** qui lui est adjacent.

```
401 Boulevard du Domaine  
Sainte-Thérèse, QC J7E 4S4
```

Dans le but d'alléger les plateaux sportifs de la polyvalente durant la session d'hiver, certains entraînements des athlètes de catégorie **juvénile et plus vieux** peuvent se donner à l'**école Saint-Pierre**.

```
201 Rue Saint-Pierre  
Sainte-Thérèse, QC J7E 2S3
```

<em class="badge badge-primary">Nouveau!</em> Club satellite à **Lachute** : les entraînements ont lieu sur la piste d’athlétisme de la **Polyvalente Lavigne**.

```
452 Avenue d’Argenteuil  
Lachute, Quebec J8H 1W9
```


## <span class="icon icon-stopwatch"></span> Horaire d'entraînement

Selon les catégories (voir ci-bas).

_Pour le club satellite de Lachute, voir [plus bas](#horaire-d-entra-nement-lachute)._

#### Colibri (2009-2010)

Une session de 10 semaines pour les colibris débutera le **samedi 7 avril 2018** et se terminera le **9 juin 2018**. **Date limite d’inscription : 1<sup>er</sup> avril 2018**.

 - Samedi 9 h à 10 h 30

### Minime (2007-2008)

- Samedi 9 h à 10 h 30

### Benjamin (2005-2006)

- Jeudi 18 h à 19 h 30
- Samedi 9 h à 10 h 30

### Cadet (2003-2004)

- Lundi 18 h à 19 h 30
- Jeudi 18 h à 19 h 30
- Samedi 10 h 30 à 12 h

### Juvénile (2001-2002), junior (1999-2000) et senior (1984-1998)

- Lundi 18 h à 19 h 30
- Mercredi 18 h à 19 h 30
- Jeudi 18 h à 19 h 30

### Vétéran (1983 et avant)

Horaire à confirmer lors de l'inscription.

### Horaire d’entraînement – Lachute

Pour le groupe de Lachute, l’horaire d’entraînement est le même pour toutes les catégories :

- mardi 18 h à 19 h 30
- vendredi 18 h à 19 h 30
