---
title: Entraînements
meta_title: Informations du club école
category: Club
icon: stopwatch
---

### <span class="icon icon-map"></span> Lieu d'entraînement

Bloc sportif de la polyvalente Sainte-Thérèse

> 401, boul. du Domaine, Sainte-Thérèse


### <span class="icon icon-stopwatch"></span> Horaire d'entraînement

Selon les catégories (voir ci-bas).  
*Pour connaître l'horaire du club-élite, contactez-nous au (514) 824-0327.*

Il y aura un premier entraînement pour tous les athlètes minimes à senior lors de la porte ouverte du samedi 12 septembre 2015 à 10h.

#### Colibri (2007-2008)

**Note**: Le prochain groupe de colibris débutera au printemps 2016 (date à venir).

- Samedi 9h00 à 10h30

#### Minime (2005-2006)

- Samedi 9h00 à 10h30, **à compter du 26 septembre 2015**

#### Benjamin (2003-2004)

- lundi 18h à 19h30
- Samedi 9h00 à 10h30

#### Cadet (2001-2002), juvénile (1999-2000), junior (1997-1998) et senior (1980-1996)

- Lundi 18h à 19h30
- Mercredi 18h à 19h30
- Jeudi 18h à 19h30


#### Vétéran (1979 et avant)

Horaire à confirmer lors de l'inscription.
