---
title: Entraînements
meta_title: Informations du club école
categories: Club
icon: stopwatch
---

### <span class="icon icon-map"></span> Lieu d'entraînement

Bloc sportif de la polyvalente Sainte-Thérèse.

> 401, boul. du Domaine, Sainte-Thérèse


### <span class="icon icon-stopwatch"></span> Horaire d'entraînement

Selon les catégories (voir ci-bas).  
*Pour connaître l'horaire du club-élite, contactez-nous au (514) 824-0327.*

Il y aura un premier entraînement pour tous les athlètes minimes à senior lors de la porte ouverte du **samedi 17 septembre 2016** (heure à confirmer).

#### Colibri (2008-2009)

_Le prochain groupe de colibris débutera en **octobre 2016** pour une session de 10 semaines (dates à venir)._

- Jour et heure à confirmer

#### Minime (2006-2007)

- Jour et heure à confirmer

#### Benjamin (2004-2005)

- Jour et heure à confirmer

#### Cadet (2002-2003), juvénile (2000-2001), junior (1998-1999) et senior (1981-1997)

- Jour et heure à confirmer


#### Vétéran (1980 et avant)

Horaire à confirmer lors de l'inscription.
