---
title: Entraînements
meta_title: 2016-2017
categories: Club
icon: stopwatch
---

### <span class="icon icon-map"></span> Lieu d'entraînement

Bloc sportif de la polyvalente Sainte-Thérèse.

```
401, boul. du Domaine, Sainte-Thérèse
```


### <span class="icon icon-stopwatch"></span> Horaire d'entraînement

Selon les catégories (voir ci-bas).  
*Pour connaître l'horaire du club-élite, contactez-nous au (514) 824-0327.*

Il y aura un premier entraînement pour tous les athlètes minimes à senior lors de la porte ouverte du **samedi 17 septembre 2016** de 10 h 30 à 12 h.

#### Colibri (2008-2009)

Le prochain groupe de colibris sera du **15 octobre au 17 décembre 2016** pour une durée de 10 semaines (places limitées). Une autre session de 10 semaines aura lieu au printemps.

 - Samedi 9 h à 10 h 30

#### Minime (2006-2007)

- Samedi 9 h à 10 h 30

#### Benjamin (2004-2005)

- Jeudi de 18 h à 19 h 30
- Samedi 9 h à 10 h 30

#### Cadet (2002-2003)

- Lundi 18 h à 19 h 30
- Jeudi 18 h à 19 h 30
- Samedi 10 h 30 à 12 h

#### Juvénile (2000-2001), junior (1998-1999) et senior (1981-1997)

- Lundi 18 h à 19 h 30
- Jeudi 18 h à 19 h 30
- Samedi 10 h 30 à 12 h <em>(jusqu'au 5 novembre 2016; par la suite, l'entraînement sera le mercredi de 18 h à 19 h 30)</em>

#### Vétéran (1980 et avant)

Horaire à confirmer lors de l'inscription.
