---
title: Entraînements
meta_title: 2016-2017
categories: Club
icon: stopwatch
---

### <span class="icon icon-map"></span> Lieux d'entraînement

Les entraînements ont lieu au **Stade Richard-Garneau**, ainsi qu'au bloc sportif de la **Polyvalente Sainte-Thérèse** qui lui est adjacent.

```
401 Boulevard du Domaine  
Sainte-Thérèse, QC J7E 4S4
```

Dans le but d'alléger les plateaux sportifs de la polyvalente durant la session d'hiver, certains entraînements des athlètes de catégorie **juvénile et plus vieux** peuvent se donner à l'**école Saint-Pierre**.

```
201 Rue Saint-Pierre  
Sainte-Thérèse, QC J7E 2S3
```

### <span class="icon icon-stopwatch"></span> Horaire d'entraînement

Selon les catégories (voir ci-bas).

#### Colibri (2008-2009)

Une nouvelle session de 10 semaines pour les colibris débutera le **22 avril 2017** et se terminera le **24 juin 2017**.

 - Samedi 9 h à 10 h 30

#### Minime (2006-2007)

- Samedi 9 h à 10 h 30

#### Benjamin (2004-2005)

- Jeudi de 18 h à 19 h 30
- Samedi 9 h à 10 h 30

#### Cadet (2002-2003)

- Lundi 18 h à 19 h 30
- Jeudi 18 h à 19 h 30
- Samedi 10 h 30 à 12 h

#### Juvénile (2000-2001), junior (1998-1999) et senior (1981-1997)

- Lundi 18 h à 19 h 30
- Mercredi 18 h à 19 h 30
- Jeudi de 18 h à 19 h 30

#### Vétéran (1980 et avant)

Horaire à confirmer lors de l'inscription.
