---
title: Inscription
category: Club
meta_title: 2015-2016
icon: pencil
---

Vous trouverez sur cette page les détails relatifs à l'inscription. Vous pouvez remplir le formulaire d'inscription en cliquant sur le lien ci-dessous:

<a class="btn btn-cta" href="http://corsaire-chaparal.org/api/inscription.php">Formulaire d'inscription <span class="icon icon-assignment"></span></a>

### Information générales et politiques d'inscription

Le coût d’inscription est établi selon l’année de naissance de l’athlète. L’inscription comprend l’affiliation à la Fédération québécoise d'athlétisme et les frais d’entraînement pour la période du 1<sup>er</sup> septembre au 31 août de l'année suivante. Par le biais d'activités de financement et de subventions, le club assume les frais d'inscription de l'athlète aux compétitions sélectionnées par l'entraîneur. Lorsque les compétitions se déroulent à l’extérieur (Sherbrooke, Québec, etc.), les athlètes doivent s’organiser pour le transport soit avec les parents, soit avec un autre athlète ou encore un entraîneur.

Les montants d’inscription 2015-2016 sont établis selon les catégories d'âge (voir tableau ci-dessous). Nous vous demandons de payer la moitié ou la totalité du montant indiqué (selon l’année de naissance), en faisant un chèque au nom du club d’athlétisme Corsaire-Chaparal, pour le 1<sup>er</sup> octobre 2015 et de nous remettre, en même temps, un chèque postdaté (15 janvier 2016) pour payer le solde de l’inscription.

Veuillez prendre note que nous avons une politique familiale, c’est-à-dire un rabais de 25% pour le 2<sup>e</sup> enfant et de 50% pour les suivants.

### Catégories d'âge et montants d'inscription

| Catégorie               | Montant \*     |
| ----------------------- | -------------- |
| Colibri (2007-2008)     | 70$            |
| Minime (2005-2006)      | 225$           |
| Benjamin (2003-2004)    | 375$           |
| Cadet (2001-2002)       | 415$           |
| Juvénile (1999-2000)    | 445$           |
| Junior (1997-1998)      | 495$           |
| Senior (1980-1996)      | 535$           |
| Vétéran (1979 et avant) | 535$           |
| Transfert universitaire | 305$           |

> **\*Note:** il faut également prévoir 30$ pour les frais d'infrastructure ainsi que 100$ pour les activités de financement (voir section ci-dessous).

Vous recevrez par courriel une facture comprenant la somme intégrale à payer lors de votre inscription.

Pour vous inscrire, veuillez remplir le <a href="http://corsaire-chaparal.org/api/inscription.php">formulaire d'inscription</a>.

### Bénévolat et activités de financement

Il est attendu que les athlètes, ainsi que leur famille, contribuent aux événements organisés par le Corsaire-Chaparal. Ces événements constituent généralement une source de financement importante pour le club. Afin d'assurer le bon déroulement de ceux-ci, un système de contribution de bénévolat a été mis en place pour favoriser la participation des membres du club aux activités organisées tout au long de l'année.

Chaque famille doit accomplir un minimum de **20 heures** au cours de l'année. Un dépôt de 100$ est demandé au début de la saison d'inscription, montant qui sera remboursé à la fin de la saison estivale suivante.

Le club déduira **5$** de la contribution initiale pour chaque heure non accomplie.

Au-delà de 20 heures de bénévolat, l'athlète est acquitté de ses devoirs et ses heures ne sont plus comptabilisées pour l'année en cours.

Pour tous les détails, voyez le [document](http://corsaire-chaparal.org/assets/docs/systeme-contribution-benevolat.pdf) concernant le système de contribution de bénévolat.
