---
title: Inscription
categories: Club
icon: pencil
---

_Les inscriptions pour la saison 2017-2018 sont présentement fermées et seront à nouveau ouvertes plus tard à l'automne. Rendez-vous lors du premier entraînement officiel le **16 septembre 2017**. Notez qu'il n'est pas nécessaire de s'inscrire avant de se présenter au premier entraînement._

<a class="btn btn-secondary" disabled href="javascript:void">Formulaire d'inscription <span class="icon icon-assignment"></span></a>

### Informations générales et politiques d'inscription

Le coût d’inscription est établi selon l’année de naissance de l’athlète. L’inscription comprend l’affiliation à la Fédération québécoise d'athlétisme et les frais d’entraînement pour la période du 1<sup>er</sup> septembre au 31 août de l'année suivante. Par le biais d'activités de financement et de subventions, le club assume les frais d'inscription de l'athlète aux compétitions sélectionnées par l'entraîneur. Lorsque les compétitions se déroulent à l’extérieur (Sherbrooke, Québec, etc.), les athlètes doivent s’organiser pour le transport soit avec les parents, soit avec un autre athlète ou encore un entraîneur.

Les montants d’inscription 2017-2018 sont établis selon les catégories d'âge (voir tableau ci-dessous). Nous vous demandons de payer la moitié ou la totalité du montant indiqué (selon l’année de naissance), en faisant un chèque au nom du club d’athlétisme Corsaire-Chaparal, pour le 7 octobre 2017 et de nous remettre, en même temps, un chèque postdaté (15 janvier 2018) pour payer le solde de l’inscription.

Veuillez prendre note que nous avons une politique familiale, c’est-à-dire un rabais de 25 % pour le 2<sup>e</sup> enfant et de 50 % pour les suivants.

### Catégories d'âge et tarifs d'inscription

| Catégorie               | Tarif \*       |
| ----------------------- | -------------- |
| Colibri (2009-2010)     | 75 $           |
| Minime (2007-2008)      | 235 $          |
| Benjamin (2005-2006)    | 395 $          |
| Cadet (2003-2004)       | 435 $          |
| Juvénile (2001-2002)    | 465 $          |
| Junior (1999-2000)      | 520 $          |
| Senior (1984-1998)      | 560 $          |
| Vétéran (1983 et avant) | 560 $          |
| Transfert universitaire | 305 $          |

<div class="well">**\*Note :** l'achat de la nouvelle camisole du club (**45 $**) est désormais obligatoire lors de l'inscription.</div>

<div class="well">**\*Note :** Il faut également prévoir **30 $** pour les frais d'infrastructure (utilisation de la piste) ainsi que **200 $** pour les activités de financement (voir section ci-dessous). Notez que les résidents de la ville de **Blainville** n'ont pas à débourser le montant concernant les frais d'infrastructure.</div>

Vous recevrez par courriel une facture comprenant la somme intégrale à payer lors de votre inscription.

### Bénévolat et activités de financement

Il est attendu que les athlètes, ainsi que leur famille, contribuent aux événements organisés par le Corsaire-Chaparal. Ces événements constituent généralement une source de financement importante pour le club. Afin d'assurer le bon déroulement de ceux-ci, un système de contribution de bénévolat a été mis en place pour favoriser la participation des membres du club aux activités organisées tout au long de l'année.

<em class="badge badge-primary">Changements en 2018</em> Chaque **famille** doit accomplir un minimum de **15 heures** au cours de l'année. Un dépôt de **200 $** est demandé au début de la saison d'inscription, montant qui sera remboursé à la fin de la saison estivale suivante. Ce montant sera facturé uniquement à l'enfant le plus âgé de la famille.

Le club déduira **5 $** de la contribution initiale pour chaque heure non accomplie.

Au-delà de 15 heures de bénévolat, l'athlète est acquitté de ses devoirs et ses heures ne sont plus comptabilisées pour l'année en cours.

<!--Pour tous les détails, consultez le [document](http://corsaire-chaparal.org/assets/docs/systeme-contribution-benevolat.pdf) concernant le système de contribution de bénévolat.-->
