{{ define "main" }}
<main class="container container-main" role="main">
  <header class="header-page">
    <span class="icon icon-{{ .Params.icon }} icon-lg icon-header"></span>

    {{ with .Params.subtitle }}
    <div class="row row-sm">
      <div class="col col-12">
        <div class="meta-header container">
          {{ . }}
        </div>
      </div>
    </div>
    {{ end }}
    <div class="row no-padding">
      <div class="col col-9 tablet-col-10 phone-col-11">
        <div class="title-header container">
          <h1>{{ .Title }}</h1>
        </div>
      </div>
    </div>
  </header>
  
  <div class="row">
    <div class="col col-8 phone-col-12">
      <aside class="none show-phone container">
        <p class="text--gray">
          {{ with .Params.author}}
          {{ . }} |
          {{ end }}
          {{ .Date.Format "2018-01-01" }}
        </p>
      </aside>
      <article class="container article-container">
          {{ with .Params.image}}
          <figure>
            <img src="{{ .Url}}" alt="{{.Title}}" />
            <figcaption>{{ .Title }}</figcaption>
          </figure>
          {{ end }}

          {{ .Content }}
      </article>
    </div>
    
    <div class="col col-4 phone-col-12 right hide-phone">
      <aside class="container sidebar-container">
        {{ with .Params.author}}
         <p class="text--gray">
          {{ . }}
        </p>
        {{ end }}
         <p class="text--gray">
          {{ .Date }}
        </p>
      </aside>
    </div>
  </div>
</main>
{{ end }}
