{{ define "main" }}
<main class="container container-main" role="main">
  {{ partial "header.html" . }}
      
  <div class="row">
    <div class="col col-4 phone-col-12 right hide-phone">
      <aside class="container sidebar-container">
        {{with .Params.author }}
         <p class="text--gray">
          {{- . -}}
        </p>
        {{ end }}
         <p class="text--gray">
          {{ partial "date.html" .Date }}
        </p>
      </aside>
    </div>
    <div class="col col-8 phone-col-12">
      <article class="container article-container">
        {{if .Params.image}}
        <figure>
          <img src="{{ .Params.image.url }}" alt="{{ .Params.image.title }}" />
          <figcaption>{{ .Params.image.title }}</figcaption>
        </figure>
        {{ end }}

        {{ .Content }}
      </article>
    </div>
  </div>
</main>
{{ end }}