---
layout: home.hbs
title: Accueil
---

<section class="row row-xl" id="nouvelles">
  <div class="container">
    <div class="row">
      <div class="col col-8 tablet-col-10 phone-col-12">
        <h2><span class="icon icon-stopwatch"></span> Horaire des entraînements</h2>
        <p>Veuillez noter que l'horaire d'entraînement varie en fonction de l'âge de l'athlète. Pour plus de détails, veuillez consulter la section <a href="{{link '/club/entrainements/' }}">entraînements</a>.</p>
        <p><em class="badge badge-primary">Nouveau!</em> Les colibris, minimes et benjamins débuteront les entraînements du samedi matin à <strong>9h00</strong>.</p>
      </div>
    </div>
  </div>
</section>

<section class="row row-xl row-darker" id="coch-invitation">
  <div class="container">
    <div class="col col-8 phone-col-11">
      <h6 class="title-meta">20 juin 2015</h6>
      <h3>Corsaire Chaparal Invitation et Classique des Laurentides</h3>
      <p>La prochaine compétition organisée par le Corsaire-Chaparal se tiendra à la piste d'athlétisme du stade Richard-Garneau, à Sainte-Thérèse.</p>
      <a class="btn btn-cta" href="{{link '/resultats/corsaire-chaparal-invitation-2015/'}}"><span class="icon icon-stopwatch"></span> Résultats</a>
    </div>
  </div>
</section>

<section class="row row-xl row-showcase" id="demi-fond">
  <div class="bg-overlay-showcase"></div>
  <div class="container text-center">
    <div class="col col-8 push-2 tablet-col-12 tablet-no-push">
      <h3>Épreuves de demi-fond au club Corsaire Chaparal</h3>
      <span class="icon icon-run h1"></span>
      <p>Le club Corsaire-Chaparal a pignon sur rue dans la région des basses Laurentides depuis plus de 35 ans. Reconnu comme l'un des meilleurs clubs au Québec, 12 entraîneurs travaillent au développement des athlètes des différents groupes d’épreuves, dont l'olympien et recordman québécois <strong>Achraf Tadili</strong>.</p>
      <p>Achraf entraîne un groupe se composant d'athlètes, filles et garçons, âgés entre 14 et 20 ans, se spécialisant dans les épreuves allant du 400m au 3000m.</p>
    </div>
  </div>
</section>

<section class="row row-xl">
  <div class="container">
    <div class="col col-8 tablet-col-12">
      <h3>Un lieu d'entraînement idéal</h3>
      <p>Les entraînements se font à la piste d'athlétisme du stade Richard-Garneau, à Sainte-Thérèse. La piste a été inaugurée à l'été 2013 pour accueillir le championnat canadien junior. En plus des huit corridors en courbe (10 en ligne droite), la piste est dotée d'une cage pour l'aire de lancers, d'une fosse à steeple ainsi que d'un large terrain d'échauffement. De plus, les gymnases de la polyvalente sont accessibles au club lors des heures d'entraînement.</p>
    </div>
    <figure class="col col-4 tablet-col-12 text-center">
      <img src="{{link '/assets/img/map-marker-orange.png' }}" alt="Marqueur de carte"/>
    </figure>
  </div>
</section>

<section class="row row-xl row-primary">
  <div class="container">
    <div class="col col-6 tablet-col-12 text-center">
      <span class="icon icon-endurance icon-lg"></span>
    </div>
    <div class="col col-6 tablet-col-12">
      <h3>Course sur route</h3>
      <p>Les adultes qui désirent rejoindre à un groupe de course sur route peuvent faire partie de l'équipe Endurance Rive-Nord, dirigée par le propriétaire de la boutique Endurance Pierre Léveillé.</p>
      <a href="http://boutiqueendurance.ca" class="btn btn-default">En savoir plus</a>
    </div>
  </div>
</section>
