---
layout: home.hbs
title: Accueil
---

<section class="row row-xl" id="nouvelles">
  <div class="container">
    <div class="row">
      <div class="col col-8 tablet-col-12">
        <h2>BBQ pour nos bénévoles</h2>
        <p>À mettre à vos agendas! Un barbecue sera organisé le 19 septembre à la piste du stade Richard-Garneau, à Ste-Thérèse, afin de remercier nos bénévoles pour leur engagement au club.</p>
        <p><strong>Quand?</strong> Samedi le 19 septembre, à 12:00</p>
        <p><strong>Où?</strong> Au stade Richard-Garneau, à l'adresse du 401, boulevard du Domaine, à Ste-Thérèse (adjacent à la polyvalente Ste-Thérèse)</p>
        <p>Au plaisir de vous y voir!</p>
      </div>
      <div class="col col-8 tablet-col-12">
        <h2>Reprise des entraînements pour la saison 2015</h2>
        <p>Les entraînements reprendront le lundi 14 septembre 2015 pour la remise en forme de l'automne. Cette période constitue une préparation physique incontournable pour aborder les entraînements spécifiques en vue des compétitons durant les saisons hivernale et estivale.</p>
      </div>
    </div>
  </div>
</section>

<section class="row row-xl row-darker" id="coch-invitation">
  <div class="container">
    <div class="col col-8 phone-col-11">
      <h6 class="title-meta">20 juin 2015</h6>
      <h3>Corsaire Chaparal Invitation et Classique des Laurentides</h3>
      <p>La prochaine compétition organisée par le Corsaire-Chaparal se tiendra à la piste d'athlétisme du stade Richard-Garneau, à Sainte-Thérèse.</p>
      <a class="btn btn-cta" href="{{link '/resultats/corsaire-chaparal-invitation-2015/'}}"><span class="icon icon-stopwatch"></span> Résultats</a>
    </div>
  </div>
</section>

<section class="row row-xl row-showcase" id="demi-fond">
  <div class="bg-overlay-showcase"></div>
  <div class="container text-center">
    <div class="col col-8 push-2 tablet-col-12 tablet-no-push">
      <h3>Épreuves de demi-fond au club Corsaire Chaparal</h3>
      <span class="icon icon-run h1"></span>
      <p>Le club Corsaire-Chaparal a pignon sur rue dans la région des basses Laurentides depuis plus de 35 ans. Reconnu comme l'un des meilleurs clubs au Québec, 12 entraîneurs travaillent au développement des athlètes des différents groupes d’épreuves, dont l'olympien et recordman québécois <strong>Achraf Tadili</strong>.</p>
      <p>Achraf entraîne un groupe se composant d'athlètes, filles et garçons, âgés entre 14 et 20 ans, se spécialisant dans les épreuves allant du 400m au 3000m.</p>
    </div>
  </div>
</section>

<section class="row row-xl">
  <div class="container">
    <div class="col col-8 tablet-col-12">
      <h3>Un lieu d'entraînement idéal</h3>
      <p>Les entraînements se font à la piste d'athlétisme du stade Richard-Garneau, à Sainte-Thérèse. La piste a été inaugurée à l'été 2013 pour accueillir le championnat canadien junior. En plus des huit corridors en courbe (10 en ligne droite), la piste est dotée d'une cage pour l'aire de lancers, d'une fosse à steeple ainsi que d'un large terrain d'échauffement. De plus, les gymnases de la polyvalente sont accessibles au club lors des heures d'entraînement.</p>
    </div>
    <figure class="col col-4 tablet-col-12 text-center">
      <img src="{{link '/assets/img/map-marker-orange.png' }}" alt="Marqueur de carte"/>
    </figure>
  </div>
</section>

<section class="row row-xl row-primary">
  <div class="container">
    <div class="col col-6 tablet-col-12 text-center">
      <span class="icon icon-endurance icon-lg"></span>
    </div>
    <div class="col col-6 tablet-col-12">
      <h3>Course sur route</h3>
      <p>Les adultes qui désirent rejoindre à un groupe de course sur route peuvent faire partie de l'équipe Endurance Rive-Nord, dirigée par le propriétaire de la boutique Endurance Pierre Léveillé.</p>
      <a href="http://boutiqueendurance.ca" class="btn btn-default">En savoir plus</a>
    </div>
  </div>
</section>
