---
title: Photos
icon: cup

scripts:
  - "/assets/scripts/photos.vendor.js"
  - "/assets/scripts/photos.custom.js"

stylesheets:
  - "/assets/styles/blocks-layout.css"

---

<div class="row container-blocks"></div>