<figure class="figure-float col col-4 tablet-col-6 phone-col12">
	<img class="blazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="http://corsaire-chaparal.org/photos-partage/{{ thumbUrl }}" alt="{{ title }}" />
	<figcaption>
		<h5>{{ title }}</h5>
		<p>{{#truncateWords description 12 }}{{/truncateWords}}</p>
	</figcaption>
</figure>