<!DOCTYPE html>
{{ "<!--[if lt IE 7]>" | safeHTML }}<html lang="fr" class="no-js lt-ie9 lt-ie8 lt-ie7"> {{ "<![endif]-->" | safeHTML }}
{{ "<!--[if IE 7]>" | safeHTML }}<html lang="fr" class="no-js lt-ie9 lt-ie8"> {{ "<![endif]-->" | safeHTML }}
{{ "<!--[if IE 8]>" | safeHTML }}<html lang="fr" class="no-js lt-ie9"> {{ "<![endif]-->" | safeHTML }}
{{ "<!--[if gt IE 8]><!-->" | safeHTML }}<html class="no-js" lang="fr"> {{ "<!--<![endif]-->" | safeHTML }}
  {{ partial "head.html" . }}
  <body class="landing-page">

    {{- partial "navbar.html" . -}}
    
    <main class="container container-full no-padding">
      {{- block "main" . }}
      {{- .Content -}}
      {{- end }}

      {{- partial "footer.html" . -}}

      {{- partial "aside.html" . -}}

      {{ with .Site.Params.annonce }}
      {{- partial "announcement.html" . -}}
      {{ end }}
    </main>

    <script>
      // Globals
      window.STRIPE_PK = {{ $.Site.Params.stripePublicKey }};
      window.COCH_API_URL = {{ $.Site.Params.apiUrl }};

      (function(head) {
        head.load([
          {{ $vendorJS := resources.Get "scripts/vendor.js" | resources.Minify }}
          "{{ $vendorJS.Permalink }}",
          {{ $mainJS := resources.Get "scripts/main.js" | resources.Minify }}
          "{{ $mainJS.Permalink }}"
          {{ range .Params.scripts }}
          ,"{{ .}}"
          {{- end -}}
        ], function() {
          console.log("loaded scripts");
        });
        head.load([
          {{ $string := (printf "var rootURL: '%s'; var apiURL: '%s';" (absURL "/") (.Param "API_URL")) }}
          {{- $targetPath := "styles/fonts.scss" -}}
          {{- $fontsSASS := resources.Get $targetPath | resources.ToCSS | resources.PostCSS | resources.Minify -}}
          {{- $fontsCSS := $fontsSASS.Permalink -}}
          "{{ replace $fontsCSS "http://localhost:1313" "" }}"
          {{ range .Params.styles }}
          ,"{{ . }}"
          {{- end -}}
        ], function() {
          console.log("loaded stylesheets");
        });
      })(head);
    </script>
    <script> (function(w,d,t,u,n,a,m){w['MauticTrackingObject']=n; w[n]=w[n]||function(){(w[n].q=w[n].q||[]).push(arguments)},a=d.createElement(t), m=d.getElementsByTagName(t)[0];a.async=1;a.src=u;m.parentNode.insertBefore(a,m) })(window,document,'script','https://campagnes.corsaire-chaparral.org/mtc.js','mt'); mt('send', 'pageview'); </script>
    </body>
</html>
