{{ define "main" }}
<main class="container-main container-landing">

  <header class="header-landing row-primary">
    <div class="swipe landing-slider" id="landing-slider">
      <div class="swipe-wrap">
        <section>
          <div class="container">
            <div class="row text-center">
              <div class="row-sm">
                <h1>{{ .Site.Title }}</h1>
              </div>

              <p class="lead">{{ .Site.Params.description }}</p>
                <a href="/club/" class="btn btn-default">En savoir plus <span class="icon icon-angle-right"></span></a>
              <a href="/club/inscription/" class="btn btn-secondary">Inscription <span class="icon icon-pencil"></span></a>
            </div>
          </div>
        </section>
        
        {{ range .Params.slides }}

        <section class="text-center">
          <div class="container">
            <div class="row">
              <div class="col col-10 push-1 tablet-col-12 tablet-no-push">
                <h1>{{ .heading }}</h1>

                <p>{{ .body | markdownify }}</p>

                <div>
                  {{ range .buttons }}
                  <a href="{{ .url }}" class="btn {{ .class }}"
                     {{ if .external }} target="_blank"{{ end }}>
                    {{- with .pre -}}{{ . | safeHTML }}{{ end }}
                    {{ .title }}
                    {{- with .post -}}{{ . | safeHTML }}{{ end }}
                  </a>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        </section>
        
        {{ end }}
      </div>

      <a href="#" class="slider-btn-controls slider-btn-controls-left" id="landing-slider-btn-controls-left"><span class="icon icon-angle-left"></span></a>
      <a href="#" class="slider-btn-controls slider-btn-controls-right" id="landing-slider-btn-controls-right"><span class="icon icon-angle-right"></span></a>
      <ul class="slider-bullets" id="landing-slider-bullets"></ul>

    </div>
  </header>
  <article class="row-xl">
    <div class="container">
      {{ .Content }}
    </div>
  </article>
</main>
{{ end }}