{{ $context := $.Page.Site.Params }}
{{ range sort .Site.Data.calendrier "date" "desc" }}

<section>
  <h3>
    {{ if gt now (time .limite) }}
    <s>
    {{ .title | markdownify }}
    </s>
    {{ else }}
    {{ .title | markdownify }}
    {{ end }}
  </h3>
  
  {{with .description }}
  <p>{{ . | markdownify }}</p>
  {{ end }}
  
  <ul>
    {{ with .date }}
    <li><strong>Date</strong> : {{ (time .).Format "2006-01-02" }}</li>
    {{ end }}
    {{ with .limite }}
    <li><strong>Date limite d'inscription</strong> : <mark>{{ (time .).Format "2006-01-02" }}</mark></li>
    {{ end }}
    {{ with .emplacement }}
    <li><strong>Emplacement</strong> : {{ .  | markdownify }}</li>
    {{ end }}
    {{ with .prix }}
    <li><strong>Prix</strong> : {{ replace . "." "," }}$</li>
    {{ end }}
    {{ with .information }}
    <li><strong><a href="{{ . }}" tagget="_blank">Informations sur la compétition</a></strong></li>
    {{ end }}
  </ul>

  {{ if gt now (time .limite) }}
  <div class="well">
    <span class="icon icon-warning"></span>
    <em>La date d'inscription pour cette compétition est passée; le formulaire n'est plus disponible.</em>
  </div>
  {{ else }}

  {{ if .prix }}
  <section>
    <h4>Paiement</h4>
    
    <p>
      Le paiement doit être fait pour que l'inscription soit valide.
    </p>
    
    <button
      class="btn btn-primary snipcart-add-item"
      data-item-id="{{ .id }}"
      data-item-name="{{ .title }}"
      data-item-price="{{ .prix }}"
      data-item-url="https://{{ if $context.isTest }}www-test.{{ end }}corsaire-chaparral.org/calendrier/"
      data-item-description="{{ with .location }}{{ . }}{{ end }}{{ with .date }} – Date: {{ time . }}{{ end }}">
      Payer ({{ replace .prix "." "," }}$)
    </button>
  </section>
  {{ end }}
  
  {{ with .formulaire }}
  <section>
    <h4>
      Informations de l'athlète
    </h4>
    {{ . | safeHTML }}
  </section>
  {{ end }}
  {{ end }}

</section>

<hr>
{{ end }}
