{{ $context := $.Page.Site.Params }}
{{ $id := $.Page.File.BaseFileName }}
{{ range where .Site.Data.calendrier "id" "eq" $id }}
{{ $competition := . }}
<section>
  <h3>
    {{ if gt now (time $competition.limite) }}
    <s>
    {{ $competition.title | markdownify }}
    </s>
    {{ else }}
    {{ $competition.title | markdownify }}
    {{ end }}
  </h3>
  
  {{with $competition.description }}
  <p>{{ . | markdownify }}</p>
  {{ end }}
  
  <ul>
    {{ with .date }}
    <li><strong>Date</strong> : {{ (time .).Format "2006-01-02" }}</li>
    {{ end }}
    {{ with .limite }}
    <li><strong>Date limite d'inscription</strong> : <mark>{{ (time .).Format "2006-01-02" }}</mark></li>
    {{ end }}
    {{ with .emplacement }}
    <li><strong>Emplacement</strong> : {{ .  | markdownify }}</li>
    {{ end }}
    {{ with $competition.frais }}
    <li><strong>Frais</strong> : {{ replace . "." "," }}$</li>
    {{ end }}
    {{ with $competition.information }}
    <li><strong><a href="{{ . }}" tagget="_blank">Informations sur la compétition</a></strong></li>
    {{ end }}
  </ul>

  {{ if gt now (time $competition.limite) }}
  <div class="well">
    <span class="icon icon-warning"></span>
    <em>La date d'inscription pour cette compétition est passée; le formulaire n'est plus disponible.</em>
  </div>
  {{ else }}

  {{ if $competition.frais }}
  <section>
    <h4>Paiement</h4>

    <p>
      Le paiement doit être fait pour que l'inscription soit valide.
    </p>

    {{ range $nom, $frais := $competition.structureFrais }}
    <button
      class="btn btn-primary snipcart-add-item"
      data-item-id="{{ $competition.id }}-{{ $nom }}"
      data-item-name="{{ $competition.title }} ({{ $nom }})"
      data-item-price="{{ $frais }}"
      data-item-url="https://{{ if $context.isTest }}www-test.{{ end }}corsaire-chaparral.org/calendrier/{{ $competition.id }}/"
      data-item-description="{{ with $competition.location }}{{ . }}{{ end }}{{ with $competition.date }} – Date: {{ time . }}{{ end }}">
      {{ $nom }} ({{ replace $frais "." "," }}$)
    </button>
    {{ else }}
    <button
      class="btn btn-primary snipcart-add-item"
      data-item-id="{{ $competition.id }}"
      data-item-name="{{ $competition.title }}"
      data-item-price="{{ $competition.frais }}"
      data-item-url="https://{{ if $context.isTest }}www-test.{{ end }}corsaire-chaparral.org/calendrier/{{ $competition.id }}/"
      data-item-description="{{ with $competition.location }}{{ . }}{{ end }}{{ with $competition.date }} – Date: {{ time . }}{{ end }}">
      Payer ({{ replace $competition.frais "." "," }}$)
    {{ end }}

  </section>
  {{ end }}
  
  {{ with .formulaire }}
  <section>
    <h4>
      Informations de l'athlète
    </h4>
    {{ . | safeHTML }}
  </section>
  {{ end }}
  {{ end }}

</section>
{{ end }}
