<footer class="footer-main">
  <div class="container">
    <div class="row">
      <div class="col col-6 phone-col-12">
        <div class="h5 footer__heading">{{ .Site.Title }}</div>
        <p class="text-footer">{{ $.Site.Params.description }}</p>
      </div>
      <div class="col col-3 phone-col-6">
        <div class="h5 footer__heading">Navigation</div>
        <ul class="list-footer">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main.ByWeight }}
          <li class="{{if or ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" . ) }}active{{ end }}">
            <a href="{{ .URL }}">{{ .Title }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="col col-3 phone-col-6">
        <div class="h5 footer-heading">Réseaux sociaux</div>
        <ul class="list-footer list-footer-social">
          <li><a href="https://facebook.com/{{ .Site.Params.facebook }}" target="_blank"><span class="icon icon-facebook"></span> Facebook</a></li>
          <li><a href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank"><span class="icon icon-twitter"></span> Twitter</a></li>
          <li><a href="mailto:{{ .Site.Params.email }}" target="_blank"><span class="icon icon-mail"></span> Courriel</a></li>
        </ul>
      </div>
    </div>
    <div class="row text-legal">
      <div class="col col-6 phone-col-12">
        &copy;{{ now.Format "2006" }} {{ .Site.Title }}. {{ .Site.Copyright}}
      </div>
      <div class="col col-6 phone-col-12">
        <p>Webmestre: <a href="mailto:{{ .Site.Params.adminEmail }}">{{ .Site.Params.admin }}</a></p>
      </div>
    </div>
  </div>
</footer>
