<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ with .Title }}{{ . }} | {{ end }}{{ $.Site.Title }}</title>
  <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
  <meta name="description" content="{{ if .Description }}{{ .Description }}{{else}}{{ $.Site.Params.description  }}{{end}}">
  
  <style>
    {{- $style := resources.Get "styles/main.scss" | resources.ToCSS | resources.PostCSS -}}
    {{- $sass := $style.Content -}}
    {{ $sass | safeCSS }}
  </style>
<!--  <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}" />-->
  <link rel="icon" type="image/png" href="/img/favicon-64x64.png" sizes="64">
  <link rel="canonical" href="{{ .Site.BaseURL }}">
  <script>
    {{- $headJS := resources.Get "scripts/head.min.js" -}}
    {{ $headJS.Content | safeJS }}
     window.headLoader = head; // make sure we have no conflicts
  </script>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
  <meta name="msapplication-TileColor" content="{{ $.Site.Params.themeColor | default "#f26e21" }}">
  
  <!-- Opengraph -->
  {{ template "_internal/opengraph.html" . }}  
  
  <!-- Twitter Cards -->
  {{ template "_internal/twitter_cards.html" . }}
  
  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{ "<!--[if lt IE 9]>" | safeHTML }}
  {{ $ieStyle := resources.Get "styles/ie.scss" | resources.ToCSS }}
  <link rel="stylesheet" type="text/css" href="{{ $ieStyle.Permalink }}" />
  {{ "<![endif]-->" | safeHTML }}
  {{ "<!--[if lt IE 8]>" | safeHTML }}
  <script src="/scripts/ie.js"></script>
  {{ "<![endif]-->" | safeHTML }}
</head>