{{- $context := $.Page.Site.Params -}}
<table>
  <thead>
    <tr>
      <th>Date</th><th>Événement</th>
    </tr>
  </thead>
  
  <tbody>
    {{- range sort .Site.Data.calendrier "date" "desc" }}
    {{- $competition := . -}}
    {{- $limitCheck := le (time (printf "%sT23:59:00.00-05:00" $competition.limite)) (time now) -}}

    <tr>
      <td>{{ $competition.date }}</td>

      <td>
        <a href="/calendrier/{{ $competition.id }}/">
          {{- if and $competition.limite $limitCheck -}}
          <s>
          {{ $competition.title | markdownify }}
          </s>
          {{- else -}}
          {{- $competition.title | markdownify -}}
          {{- end -}}
        </a>
      </td>
    </tr>
    {{- end -}}
  </tbody>
</table>

