<div class="row row-feature">
  <figure class="col col-3 tablet-col-4 phone-col-12 text-center">
    {{ if .Params.images }}
    {{ range first 1 .Params.images }}
    <a href="{{ $.Permalink }}">
      <img class="img-responsive"
           src="{{ . }}"
           alt="{{ $.Title }}"
           loading="lazy"
           />
    </a>
    {{ end }}
    {{ else }}
    &nbsp;
    {{ end }}
  </figure>
  <div class="col col-9 tablet-col-8 phone-col-12">
    <small class="title-meta uppercase">
      {{ with .Params.subtitle }}
      {{ . }}
      {{ end }}
    </small>
    <h4 class="no-margin"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>

    {{- with .Params.description -}}
      <article class="row-sm">
      {{ . | markdownify }}
      </article>
    {{- end -}}
    
    <small class="title-meta">
      <span class="icon icon-calendar"></span>
      {{ with .Date }}
      {{ .Format "2006-01-02" }}
      {{ end }}
    </small>
  </div>
</div>