<div class="row row-feature row-lg">
  <figure class="col col-4 tablet-col-12 phone-col-12 text-center">
    {{ if .Params.images }}
    {{ range first 1 .Params.images }}
    <a href="{{ $.URL }}">
      <img class="img-responsive" src="{{ . }}" alt="{{ $.Title }}" />
    </a>
    {{ end }}
    {{ else }}
    &nbsp;
    {{ end }}
  </figure>
  <div class="col col-8 tablet-col-12 phone-col-12">
   <small class="title-meta uppercase">
      {{ with .Params.subtitle }}
      {{ . }}
      {{ end }}
    </small>

    <h4 class="h3 no-margin"><a href="{{ .URL }}">{{ .Title }}</a></h4>

    {{- with .Params.description -}}
      <article class="row-sm">
      {{ . | markdownify }}
      </article>
    {{- end -}}

    <small class="title-meta">
      <span class="icon icon-calendar"></span>
      {{ with .Date }}
      {{ .Format "2006-01-02" }}
      {{ end }}
    </small>
  </div>
</div>