<div class="row row-partenaire">
  <figure class="col col-3 tablet-col-4 figure-thumb text-center">
    {{ if .image }}
    <a {{ if .url }}href="{{ .url }}" target="_blank"{{end}}><img src="{{ .image }}" alt="{{ .name }}" /></a>
    {{ else }}
    <span class="icon icon-star icon-partenaire-default"></span>
    {{ end }}
  </figure>
  <div class="col col-9 tablet-col-8">
    <h5>{{ .name }}</h5>
    {{ with .url }}
    <span class="icon icon-chain"></span> <a href="{{ . }}" target="_blank">{{ . }}</a>
    {{ end }}
  </div>
</div>