// Theme - partenaires
// -----------------------------------

.row-partenaire {
	@include vertical-padding($spacing);
	border-bottom: 1px solid $gray-lighter;
}

.img-partenaire-default {
	font-size: $h1;
	color: $gray-light;
}